

.weather-app-div {
    text-align: center;
    font-family:sans-serif;
    width:100%;
    padding:100px;
  }
  
  .form{
    display:flex;
  }
  .main{
    display: flex;
    justify-content: space-evenly;
  }
  @media only screen and (max-width: 600px) {
    .main{
      display:block;
      justify-content: space-around;
    }
    .weather-app-div {
      text-align: center;
      font-family:verdana;
      width:100%;
      padding:10px;
    }
  
  }
  .form{
    display:block;
  
  }
  
  .weather-spinner {
    width:50px;
    height:50px;
    border-radius:50%;
    padding:1px;
    background:conic-gradient(#0000 10%,#131212) content-box;
    -webkit-mask:repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
      radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 calc(100% - 8px));
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
    animation:s4 1s infinite steps(10);
  }
  @keyframes s4 {to{transform: rotate(1turn)}}
  
  .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #ec6536;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .weather-submit-button{
    background-color: #d36d2e !important;
    border: 1px solid #d36d2e !important;
    margin: 5px;
    width: -webkit-fill-available;
  }
  .weather-app-search{
    border: 1px solid #d36d2e !important;
     margin: 5px !important;
     min-width: fit-content;
  }
  .weather-table-row{
      background-color:#cccccc !important;
  }
  .weather-app-table{
    border: 1px solid !important;
     width: 100% !important;
  }